body {
    background-color: black;
}

header {
    background-color: #424242; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8px;
    padding: 20px ;
    top: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


.derecha /*QUIERO ALINEARLOS A LA DERECHA/*
    
    




/* Estilo para los enlaces en la lista de navegación */
nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 13px;
}

nav a:hover {
    color: #931fff; 
}


/*__________________________________________________________________*/
  
   

/*__________________________________________________________________*/    

/* Estilo para la sección */
.seccion {
    padding: 20px;
    display: flex; /* Utiliza flexbox para alinear elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: left; /* Alinea el texto al centro (opcional) */
    background-color: rgb(254, 242, 255); /* Color de fondo de la sección (opcional) */
}

.contenedor1 {
    
    display: flex; /* Utiliza flexbox para alinear elementos en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: left; /* Alinea el texto al centro (opcional) */
    width: 300px; 
    height: 200px
    
   
}

/* Estilo para el contenido de texto */
.texto {
    flex: 1; /* Ocupa el espacio disponible */
    min-width: 300px;
    padding: 20px; /* Espaciado interno (ajusta según tus necesidades) */
    margin-right: 20px; /* Espacio entre el texto y la imagen (ajusta según tus necesidades) */
    
}

/* Estilo para la imagen */
.imagen img {
    order: 2;
    min-width: 200px;   
    height: auto; /* Altura automática para mantener la proporción */
    max-height: 450px; /* Altura máxima de la imagen (ajusta según tus necesidades) */
}


/*__________________________________________________________________*/
    /* Estilos para el botón superpuesto */
.boton-superpuesto {
    position: absolute;
    bottom: 41%;
    left: 0;
    margin: 0px;
    background-color: #931fff; 
    color: white; 
    padding: 20px; 
    border: none; 
    cursor: pointer;
}
    
.boton-superpuesto:hover {
               
    background-color: #931fff;
    color: #ffffff;
    font-weight: bold; 
}

/*__________________________________________________________________*/
    
.seccion2 {
    
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #424242;
    height: 400px;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto2 {
    color: #ffffff;
    text-align: center; 
    max-width: 95%; 
    padding: 20px; 
    font-size: 16px; 
}

 /*______________________________________________________________*/
 
.seccion3 {
    
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgb(238, 226, 243);
    height: 250px;
}

