header {
    background-color: #424242; 
    color: #fff; 
    padding: 0.5px ; 
    top: 0;
}

/* Estilo para la lista de navegación */
nav ul {
    list-style: none; 
    padding: 0; 
}

/* Estilo para los elementos de la lista de navegación */
nav li {
    display: inline; 
    margin-right: 20px; 
    margin-left: 20px; 
    font-size: 0.7em;
   }

.right {
    float: right;
    margin-left: 10px; 
}

/* Estilo para los enlaces en la lista de navegación */
nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}

/* Estilo para los enlaces cuando se pasan por encima con el cursor */
nav a:hover {
    color: #931fff; 
}


/*__________________________________________________________________*/
  
   
/* Estilo para la sección */
.seccion {
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
    background-color: rgb(254, 242, 255); 
}

.seccion-texto {
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
    height: 200px
      
}

/* Estilo para el contenido de texto */
.texto {
    flex: 1; 
    min-width: 300px;
    padding: 20px; 
    margin-right: 20px; 
    
}

/* Estilo para la imagen */
.imagen img {
    order: 2;
    min-width: 200px;   
    height: auto; 
    max-height: 450px; 
}

 /*NO SE POR QUE ESTA LLAVE HACE QUE EL BOTON QUEDE DENTRO♥/*
/*__________________________________________________________________*/
    /* Estilos para el botón superpuesto */
    .boton-superpuesto {
    position: absolute;
    bottom: 41%;
    left: 0;
    margin: 0px;
    background-color: #931fff; 
    color: white; 
    padding: 20px; 
    border: none; 
    cursor: pointer;
    }
    
    .boton-superpuesto:hover {
               
    background-color: #931fff;
    color: #ffffff;
    font-weight: bold; 
    font-size: 15px;
    }