body {
    background-color: black;
}

header {
    background-color: #424242; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8px;
    padding: 20px ;
    top: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


.derecha /*QUIERO ALINEARLOS A LA DERECHA/*
    
    




/* Estilo para los enlaces en la lista de navegación */
nav a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 13px;
}

nav a:hover {
    color: #931fff; 
}


/*__________________________________________________________________*/    

.seccion1 {
    
    padding: 20px;
    display: flex; 
    text-align: center;
    align-items: center; 
    background-color: rgb(238, 226, 243);
    height: 700px;
}

.contenedor1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    text-align: center;
       
        
}
.texto1 {
    
    color: #5e166d;
    text-align: left; 
    max-width: 70%; 
    padding: 20px; 
    font-size: 16px; 
    
}

.texto1 h1 {
    font-size: 36px;
}

.imagen img {
    
    height: 600px;
    width: auto; 
}


/*__________________________________________________________________*/
    /* Estilos para el botón superpuesto */
.boton-superpuesto {
    position: absolute;
    bottom: 41%;
    left: 0;
    margin: 0px;
    background-color: #931fff; 
    color: white; 
    padding: 20px; 
    border: none; 
    cursor: pointer;
}
    
.boton-superpuesto:hover {
               
    background-color: #931fff;
    color: #ffffff;
    font-weight: bold; 
    font-size: 15px;
}

/*__________________________________________________________________*/
    
.seccion2 {
    
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #424242;
    height: 400px;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto2 {
    color: #ffffff;
    text-align: center; 
    max-width: 95%; 
    padding: 20px; 
    font-size: 16px; 
}

 /*______________________________________________________________*/
 
.seccion3 {
    
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: rgb(238, 226, 243);
    height: 250px;
}

