body {
    background-color: black;
    margin: 0;
    
}

header {
    background-color: #424242; 
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    
    
   
    
}

/* Estilo para la lista de navegación */
section {
    margin-top: 80px; /* Ajusta la distancia para que el contenido no quede oculto detrás del header */
    
}

/* Estilo para los elementos de la lista de navegación */
#header ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    
    
    
 
}

section {
    margin-top: 0px; /* Ajusta la distancia para que el contenido no quede oculto detrás del header */
    
}

.right {
    float: right;
    
    
}    


/* Estilo para los enlaces en la lista de navegación */
nav li a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 13px;
}

nav a:hover {
    color: #931fff; 
}


/*__________________________________________________________________*/    

.seccion1 {
    
    padding: 20px;
    display: flex; 
    text-align: left;
    align-items: center; 
    background-color: rgb(238, 226, 243);
    height: 100vh;
    
}

.contenedor1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    margin-right: 150px;
    

         
        
}
.texto1 {
    
    color: #5e166d;
    text-align: left; 
    max-width: 70%; 
    padding: 10px; 
    font-size: 20px; 

    
}

.texto1 h1 {
    font-size: 55px;
}


.imagen img {
    max-height: 700px; 
    float: left;
    
}


/*__________________________________________________________________*/
    /* Estilos para el botón superpuesto */
.boton-superpuesto {
    position: absolute;
    
    margin-left: 80;
    background-color: #931fff; 
    color: white; 
    padding: 20px; 
    border: none; 
    cursor: pointer;
}
    
.boton-superpuesto:hover {
               
    background-color: #931fff;
    color: #ffffff;
    font-weight: bold; 
    font-size: 15px;
}

/*__________________________________________________________________*/
    
.seccion2 {
    
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #424242;
    height: 100vh;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto2 {
    color: #ffffff;
    text-align: center; 
    max-width: 95%; 
    padding: 20px; 
    font-size: 16px; 
}

 /*______________________________________________________________*/
 
.seccion3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center; 
    background-color: rgb(238, 226, 243);
    height: 100vh;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto3 {
    color: #451168;
    text-align: center; 
    max-width: 95%; 
    padding: 20px; 
    font-size: 19px; 
}
