body{
    background-color: black;
}

     
}

label{
    color: white;
}

p{
    color: white;
}

h2{
    color: blueviolet;
}

.imagen {
    
    height: 300px;
    width: 200px;
    display: flex;
    padding-left: 700px;
}